/*=======LAYOUT SECTION=======*/

body{
	margin-left: 0px;
	font-size: 14px;
}
#header{
	background-color:black;
	margin: 10px;
	height: 50px;
	border-radius: 5px;
	font-size: 30px;
	font-family: Cambria;
}

#navbar ul{
	padding: 5px;
	background-color:black;
	margin: 10px;
	height: 22px;
	border-radius: 5px; 
	text-align: center;
	list-style: none;
}
#navbar ul a{
	color: white;
}
#navbar ul li{
	display: inline;

}
#navbar ul li a{
	text-decoration: none;
	font-family: Arial;
	padding: 4px 3px;
	color: white;
	background-color: black;
	margin: 40px;
	font-size: 20px;
}
#navbar ul li a:hover{
	color: black;
	background-color: white;
} 

.location{
	margin: 10px;
	float: left;
	border-radius: 5px;
}
.sideright{
	padding: 10px;
	margin: 10px;
	font-size: 135%;
	color: #1a0000;
}

table{
	margin: 10px;
}
.para{
	font-size: 19px;
}

#footer{
	background-color: black;
	margin-top: 230px;
	height: 39px;
	width: 1320px;
	border-radius: 5px;
	color: white;
	font-size: 100%;
}
#footer ul{
	padding: 10px;
	margin: 10px;
	height: 25px;
	border-radius: 5px; 
	text-align: center;
	list-style: none;
}
#footer ul li{
	display: inline;

}
#footer ul li a{
	text-decoration: none;
	font-family: Arial;
	padding:2px 1px;
	color: white;
	margin: 50px;
	font-size: 20px;
	background-color: black;
}
#footer  ul li a:hover{
	color: black;
	background-color: white;
} 

/*=======HEADINGS SECTION=======*/
h4{
	color: white;
}